<footer class="footer">
  <div id="footer-row" class="row">
    <div class="container">
      <div class="col-md-2">
        <img id="footer-logo" class="img-responsive center-block" src="http://cdn.ember.gg/images/logo.png">
      </div>
      <div class="col-md-10">
        <div id="footer-toprow" class="row">
          <div class="col-md-3">
            <h1>FOLLOW OUR JOURNEY</h1>
            <ul class="social-media">
              <li><a target="_blank" href="https://twitter.com/gg_ember"><i class="fa fa-twitter"></i></a></li>
              <li><a target="_blank" href="https://www.facebook.com/ember.gg/"><i class="fa fa-facebook"></i></a></li>
              <li><a target="_blank" href="https://www.instagram.com/ember.gg/"><i class="fa fa-instagram"></i></a></li>
              <li><a target="_blank" href="http://www.twitch.tv/ember_gg"><i class="fa fa-twitch"></i></a></li>
              <li><a target="_blank" href="https://www.youtube.com/channel/UCB804MUFVcbNeGgEuM4XTfQ"><i class="fa fa-youtube-play"></i></a></li>
              <li><a target="_blank" href="https://vine.co/u/1288365283844993024"><i class="fa fa-vine"></i></a></li>
            </div>
          </ul>
          <div class="col-md-7">
            <h1>SIGN UP FOR OUR NEWSLETTER</h1>
            <div class="ck_form ck_naked">

              <div class="ck_form_fields">

                <div id='ck_success_msg'  style='display:none;'>
                  <p>Success! Thank you for subscribing to Ember's Newsletter. Please check your email to confirm your subscription.</p>
                </div>

                <!--  Form starts here  -->
                <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/27651/subscribe" data-remote="true">
                  <input type="hidden" value="{&quot;form_style&quot;:&quot;naked&quot;,&quot;embed_style&quot;:&quot;inline&quot;,&quot;embed_trigger&quot;:&quot;scroll_percentage&quot;,&quot;scroll_percentage&quot;:&quot;70&quot;,&quot;delay_seconds&quot;:&quot;10&quot;,&quot;display_position&quot;:&quot;br&quot;,&quot;display_devices&quot;:&quot;all&quot;,&quot;days_no_show&quot;:&quot;15&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}" id="ck_form_options">
                  <input type="hidden" name="id" value="27651" id="landing_page_id">
                  <div class="ck_errorArea">
                    <div id="ck_error_msg" style="display:none">
                      <p>There was an error submitting your subscription. Please try again.</p>
                    </div>
                  </div>
                  <div class="ck_control_group ck_email_field_group">
                    <label class="ck_label" for="ck_emailField" style="display: none">Email Address</label>
                      <input type="text" name="first_name" class="ck_first_name" id="ck_firstNameField" placeholder="First Name">
                      <input type="email" name="email" class="ck_email_address" id="ck_emailField" placeholder="Email Address" required>
                  </div>

                  <button class="subscribe_button ck_subscribe_button btn fields" id='ck_subscribe_button'>
                    SUBMIT
                  </button>
                </form>
              </div>

            </div>
          </div>
          <div class="col-md-2">
            <h1>CONTACT US</h1>
            <p>info@ember.gg</p>
          </div>
        </div>
        <div id="footer-bottomrow" class="row">
          <div class="col-md-12">
            <p>&copy; 2016 Team Elemental, Inc. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>