<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="League of Legends NACS team Ember. Better humans become better athletes. Welcome to Ember's journey. Get to know who we are and what we strive for.">
    <meta name="keywords" content="Ember,League of Legends,lol">
    <title>Ember - League of Legends NA Challenger Series Team</title>
    <link rel="icon" href="http://cdn.ember.gg/images/favicon.png">
    <meta property="og:title" content="Ember" />
    <meta property="og:url" content="http://www.ember.gg" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Better humans become better athletes. Welcome to Ember's journey. Get to know who we are and what we strive for.">
    <meta property="og:image" content="http://cdn.ember.gg/images/emberlogoblack.png" />

    <link data-require="bootstrap-css@*" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/stylesheet.min.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
    <script src="js/ui-bootstrap-1.1.2.min.js"></script>
    <script src="https://app.convertkit.com/assets/CKJS4.js?v=21"></script>
    <script src="js/app.js"></script>
    <script src="js/scripts.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-71660342-1', 'auto');
      ga('send', 'pageview');
    </script>
    <base href="academy_bootstrap">
  </head>
  <body ng-app="embermain">
    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent" ng-class="navbg" role="navigation" ng-controller="navCtrl">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="collapseNav()">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="http://www.ember.gg/"><img src="http://cdn.ember.gg/images/logo.png"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-transparent" uib-collapse="navCollapsed">
          <ul class="nav navbar-nav navbar-right">
            <li ng-click="collapseNav()"><a href="http://academy.ember.gg/">ACADEMY</a></li>
            <li ng-click="collapseNav()"><a class="main-subpage" ui-sref-active="active" ui-sref="news">NEWS</a></li>
            <li ng-click="collapseNav()"><a class="main-subpage" ui-sref-active="active" ui-sref="teams">TEAMS</a></li>
            <li ng-click="collapseNav()"><a class="main-subpage" ui-sref-active="active" ui-sref="about">ABOUT</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div ui-view class="ui-view-content">
    </div>
      
  </body>
</html>