
<script src="js/scripts.js"></script>
<div id="about">
  <div id="about-landing" class="jumbotron">
    <div class="container">
      <div class="page-landing-content">
        <h1>ABOUT US</h1>
        <h2>OUR VALUES AND IDENTITY</h2>     
      </div>
    </div>
  </div>

  <div class="container card-container">
    <div class="row">
      <div class="col-md-4 card">
        <div class="about-us-card-wrap">
          <div class="card-front about-us-card">
              <p>WE BELIEVE THAT BETTER HUMANS BECOME BETTER ATHLETES.</p>
          </div>
          <div class="about-us-card card-back">
            <p>Why? Because esports has become yet another industry where winning is the only thing that matters, at the expense of everything else. We want to win too, but we disagree with that approach. We think that by living a fulfilling life, which includes having loving relationships, will enable — not hinder — our players and staff in becoming better athletes, coaches, leaders, and above all, humans.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 card">
        <div class="about-us-card-wrap">
          <div class="card-front about-us-card">
            <p>WE BELIEVE IN FOSTERING REGIONAL TALENT.</p>
          </div>
          <div class="about-us-card card-back">
            <p>And regional to us means North America. Part of developing a sport is to invest in youth development. Who is responsible for that in esports? The leagues? The teams? The game developers? Nobody really knows. What we do know is that we are going to be a part of the solution.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 card">
        <div class="about-us-card-wrap">
          <div class="card-front about-us-card">
            <p>WE BELIEVE IN TRANSPARENCY.</p>
          </div>
          <div class="about-us-card card-back">
            <p>Why are esports salaries so secretive?
              The same reason why start-up employees don’t get to know company valuation or ownership percentage along with number of options or shares received. Companies have more leverage when there is information asymmetry. And that’s wrong. It is especially important for esports players to have more information about salaries because they are putting their education on hold for an uncertain future.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ui-view="footer"></div>