<!-- Put css/js file depency links up here -->

<!-- Begin Academy Body -->
<div id="academy">
  <div class="container">
    <div class="v-center-wrap">
      <div class="v-center">
        <h1>Ember Academy<br>Coming Soon!</h1>
        <h2>Sign up now and be the first to know when we launch!</h1>
        <div class="ck_form ck_naked">

          <div class="ck_form_fields">

            <div id='ck_success_msg'  style='display:none;'>
              <p>Success! Thank you for subscribing to Ember's Newsletter. Please check your email to confirm your subscription.</p>
            </div>

            <!--  Form starts here  -->
            <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/27651/subscribe" data-remote="true">
              <input type="hidden" value="{&quot;form_style&quot;:&quot;naked&quot;,&quot;embed_style&quot;:&quot;inline&quot;,&quot;embed_trigger&quot;:&quot;scroll_percentage&quot;,&quot;scroll_percentage&quot;:&quot;70&quot;,&quot;delay_seconds&quot;:&quot;10&quot;,&quot;display_position&quot;:&quot;br&quot;,&quot;display_devices&quot;:&quot;all&quot;,&quot;days_no_show&quot;:&quot;15&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}" id="ck_form_options">
              <input type="hidden" name="id" value="27651" id="landing_page_id">
              <div class="ck_errorArea">
                <div id="ck_error_msg" style="display:none">
                  <p>There was an error submitting your subscription. Please try again.</p>
                </div>
              </div>
              <div class="ck_control_group ck_email_field_group">
                <label class="ck_label" for="ck_emailField" style="display: none">Email Address</label>
                  <input type="text" name="first_name" class="ck_first_name" id="ck_firstNameField" placeholder="First Name">
                  <input type="email" name="email" class="ck_email_address" id="ck_emailField" placeholder="Email Address" required>
              </div>

              <button class="subscribe_button ck_subscribe_button btn fields" id='ck_subscribe_button'>
                SUBMIT
              </button>
            </form>
          </div>      
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Academy Body -->
<!--<div ui-view="footer"></div>-->
