<div id="landing">

  <div class="cover-overlay"></div>

  <div>
    <video id="bgvid" preload autoplay poster="http://cdn.ember.gg/images/landingbg.jpg" loop>
      <source src="http://cdn.ember.gg/images/embercovervid0123161.mp4" type="video/mp4">
      <source src="http://cdn.ember.gg/images/embercovervid0123161.webm" type="video/webm">
    </video>
  </div>

  <div class="container">
    <div class="v-center-wrap">
      <div class="v-center">
        <h1>BETTER HUMANS BECOME BETTER ATHLETES</h1>
        <h2>WELCOME TO EMBER'S JOURNEY. <br> GET TO KNOW WHO WE ARE AND WHAT WE STRIVE FOR.</h2>
      </div>
    </div>
  </div>

</div>