<div id="news">

<script src="https://static.medium.com/embed.js"></script>
<div id="news-landing" class="jumbotron">
  <div class="container">
    <div class="page-landing-content">
      <h1>NEWS</h1>
      <h2>STAY UPDATED WITH ALL THINGS EMBER</h2>     
    </div>
  </div>
</div>

<div class="container">
  <div class="page-header-content">
    <h3>LATEST</h3>
  </div>

  <div class="mdm-wrap">
    <a class="m-story" data-width="100%" data-collapsed="true" href="https://medium.com/ember-news/work-at-ember-60dbbfeba72e"></a>
  </div>

  <div class="mdm-wrap">
    <a class="m-story" data-width="100%" data-collapsed="true" href="https://medium.com/ember-news/ember-roster-and-staff-changes-february-2016-f088e272a669"></a>
  </div>

  <div class="mdm-wrap">
    <a class="m-story" data-width="100%" data-collapsed="true" href="https://medium.com/ember-news/ember-2016-summer-internship-program-656d56fa39b4"></a>
  </div>

  <div class="mdm-wrap">
    <a class="m-story" data-width="100%" data-collapsed="true" href="https://medium.com/ember-news/work-at-ember-60dbbfeba72e"></a>
  </div>

  </div>
</div>
<div ui-view="footer"></div>

