<div id="teams">
  <div id="teams-landing" class="jumbotron">
    <div class="container">
      <div class="page-landing-content">
        <h1>TEAMS</h1>
        <h2>MEET THE PLAYERS</h2>     
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="team-header col-md-2 col-sm-6 col-xs-12">
        <h1>LEAGUE OF LEGENDS</h1>
        <h2>NORTH AMERICAN CHALLENGER SERIES</h2>
      </div>
      <div class="player-col col-sm-6 col-xs-12 col-md-2">
        <div class="player-card">
          <img class="img-responsive center-block" src="http://cdn.ember.gg/images/top.jpg" alt="">
          <div class="player-content-wrap">
            <div class="player-content">
              <h3>SOLO</h3>
              <h4>COLIN EARNEST</h4>
              <ul>
                <li><a target="_blank" href="https://twitter.com/MBRSolo"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="player-col col-sm-6 col-xs-12 col-md-2">
        <div class="player-card">
          <img class="img-responsive center-block" src="http://cdn.ember.gg/images/santorin.png" alt="">
          <div class="player-content-wrap">
            <div class="player-content">
              <h3>SANTORIN</h3>
              <h4>LUCAS LARSEN</h4>
              <ul>
                <li><a target="_blank" href="https://twitter.com/SantorinLoL"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="player-col col-sm-6 col-xs-12 col-md-2">
        <div class="player-card">
          <img class="img-responsive center-block" src="http://cdn.ember.gg/images/mid.jpg" alt="">
          <div class="player-content-wrap">
            <div class="player-content">
              <h3>GOLDENGLUE</h3>
              <h4>GREYSON GILMER</h4>
              <ul>
                <li><a target="_blank" href="https://twitter.com/MBRgoldenglue"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="player-col col-sm-6 col-xs-12 col-md-2">
        <div class="player-card">
          <img class="img-responsive center-block" src="http://cdn.ember.gg/images/kill2.png" alt="">
          <div class="player-content-wrap">
            <div class="player-content">
              <h3>LOD</h3>
              <h4>BENJAMIN DEMUNCK</h4>
              <ul>
                <li><a target="_blank" href="https://twitter.com/MBRLOD"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="player-col col-sm-6 col-xs-12 col-md-2">
        <div class="player-card">
          <img class="img-responsive center-block" src="http://cdn.ember.gg/images/supp2.png" alt="">
          <div class="player-content-wrap">
            <div class="player-content">
              <h3>STUNT</h3>
              <h4>WILLIAM CHEN</h4>
              <ul>
                <li><a target="_blank" href="https://twitter.com/MBRStunt"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ui-view="footer"></div>